/*<------------STRUKTUR------------>*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary 
{
    display: block;
}

header
{
    float: left;
    width: 960px;
}

main
{
    float: left;
    width: 960px;
    margin-top: 10%;
    position: relative;
}

body 
{
    font-family: "ABeeZee", "Arial", sans-serif;
}

nav
{
    float: left;
    display: block;
    width: 960px;
    margin-top: -36px;
    margin-bottom: 30px;
}

footer
{
    float: left;
    width: 960px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center;
    background: #76819E;
    color: #FFF;
}    

#container
{
    width: 960px;
    margin: auto;
}

#mainheader
{
    height: 170px;
    background-image: url(../pics/Bluerose1.png);
    background-repeat: repeat;
    opacity:0.4;
    filter:alpha(opacity=40); /* För IE8 och tidigare */
}

#gallery
{
    margin-top: -90px;
    margin-bottom: 100px;
    padding-left: 20px;
}

.breadcrumb 
{
    clear: left;
    padding: 10px 0;
    font-size: 10px;
    border-bottom: solid #676B6B 1px;
}

#maincolumn
{
    width: 290px;
    float: left;
    margin-top: -80px;
    padding-right: 50px;
    padding-left: 20px;
}

#sidecolumn
{
    width: 600px;
    float: left;
    margin-top: -20px;
    padding-bottom: 50px;
    
}

/*<-------------HUVUDHUVUDMENY-------------->*/

#menu ul,
#menu li,
#menu span,
#menu a 
{
    margin: 0;
    padding: 0;
    position: relative;
}

#menu a 
{
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    min-width: 35px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 #eeeeee;
}

#menu ul 
{
    list-style: none;
}

#menu > ul > li 
{
    float: left;
}

#menu > ul > li a 
{
    -moz-box-shadow: inset 0 0 0 1px #76819E;
    -webkit-box-shadow: inset 0 0 0 1px #76819E;
    box-shadow: inset 0 0 0 1px #76819E;
    background: -moz-linear-gradient(center top, #76819E 5%, #A7B3CE 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #76819E), color-stop(1, #A7B3CE) );
    background: -webkit-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
    background: -o-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
    background: -ms-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
    background: linear-gradient(top, #76819E 5%, #A7B3CE 100%);
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    line-height: 34px;
    padding: 0 35px;
}

#menu a:hover 
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #263966), color-stop(1, #79bbff) );
	background: -webkit-linear-gradient(top, #263966 5%, #79bbff 100%);
	background:-moz-linear-gradient( center top, #263966 5%, #79bbff 100% );
	background: -o-linear-gradient(top, #263966 5%, #79bbff 100%);
	background: -ms-linear-gradient(top, #263966 5%, #79bbff 100%);
	background: linear-gradient(top, #263966 5%, #79bbff 100%);}

#menu li:first-child a 
{
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;}

#menu li:last-child a 
{
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}



/*<-------------SUBMENY-------------->*/

#menu .sub:hover ul 
{
    display: block;
}

#menu .sub ul 
{
    display: none;
    position: absolute;
    top: 36px;
    left: -1px;
    min-width: 100%;
    text-align: center;
    width: 100%;
}

#menu .sub ul li 
{
    text-align: center;
}

#menu .sub ul li a 
{
    border-top: 0 none;
    border-left: 1px solid #d2d2d2;
    display: block;
    font-size: 12px;
    line-height: 130%;
    padding: 9px 5px;
    text-align: center;
}

#menu .sub li:first-child a 
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#menu .sub li:last-child a 
{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#menu ul #current 
{
    background: #676B6B;
    color: #FFF;
}
.clear 
{
    clear: both;
}


/*<----------TYPOGRAFI----------->*/
/*<----------INSTÄLLNINGAR FÖR CSSKNAPPARAR----------->*/

a.button 
{
	-moz-box-shadow: inset 0 -5px 0 0 #76819E;
	-webkit-box-shadow: inset 0 -5px 0 0 #76819E;
	box-shadow:inset 0 -5px 0 0 #76819E;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #76819E), color-stop(1, #A7B3CE));
	background: -webkit-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
	background:-moz-linear-gradient( center top, #76819E 5%, #A7B3CE 100% );
	background: -o-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
	background: linear-gradient(top, #76819E 5%, #A7B3CE 100%);
	background-color:#76819E;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #76819E;
	display:inline-block;
	color:#FFFFFF;
	font-family:Comic Sans MS;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:120px;
	text-decoration:none;
	text-align:center;
	text-shadow:3px 3px 0 #606676;
}

a.button:hover, a.button:focus
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #263966), color-stop(1, #79bbff) );
	background: -webkit-linear-gradient(top, #263966 5%, #79bbff 100%);
	background:-moz-linear-gradient( center top, #263966 5%, #79bbff 100% );
	background: -o-linear-gradient(top, #263966 5%, #79bbff 100%);
	background: linear-gradient(top, #263966 5%, #79bbff 100%);
}

a.button:active 
{
	position:relative;
	top:5px;
}

/*<----------FORMULÄRINSTÄLLNINGAR----------->*/


input, textarea 
{   
    width: 400px;
    padding: 9px;  
    border: solid 1px #EEE;  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.03, #DDD), color-stop(1, #FFF)); 
    background: -webkit-linear-gradient(top, #DDD 30%, #FFF 100%);
    background: -moz-linear-gradient(top, #DDD 30%, #FFF 100%);
    background: -o-linear-gradient(top, #DDD 30%, #FFF 100%);
	background: linear-gradient(top, #DDD 30%, #FFF 100%);
	-moz-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;
    box-shadow: rgba(0,0,0, 0.3) 0 0 8px; 
}

  
textarea 
{   
    width: 400px;  
    max-width: 400px;  
    height: 150px;  
    line-height: 150%;  
}  
  
input:hover, 
textarea:hover,  
input:focus, 
textarea:focus 
{   
    border-color: #BBB; 
    -moz-box-shadow: rgba(0,0,0, 0.15) 0 0 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.15) 0 0 8px;
    box-shadow: rgba(0,0,0, 0.15) 0 0 8px; 
}  
  
.form label 
{   
    margin-left: 10px;   
    color: #676B6B;   
}  

::-webkit-input-placeholder 
{
   font-family: "ABeeZee", "Arial", sans-serif;
   color: #888;
}

::-moz-placeholder 
{ 
   font-family: "ABeeZee", "Arial", sans-serif;
   color: #888; 
}

:-moz-placeholder 
{ 
   font-family: "ABeeZee", "Arial", sans-serif;
   color: #888; 
}

:-ms-input-placeholder 
{  
   font-family: "ABeeZee", "Arial", sans-serif;
   color: #888;  
}
  
button 
{  
    width: auto;  
    padding: 9px 15px;  
    border: 0;  
    font-size: 14px;  
    background: #76819E;
    color: #FFF; 
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
} 

/*<-------------BILDINSTÄLLNINGAR FÖR KONSTGALLERIET-------------->*/

/*Inställning för kub-container där animationen sker*/

#view
{
	width:450px;
	height:300px;
	margin:5em auto;
	-webkit-perspective: 450px; 
	-webkit-perspective-origin:50% 50%; 
}

@-webkit-keyframes rotation {
	from, to {  }
    10%, 25% { -webkit-transform: rotateX(-90deg); 
    transform: rotateX(-90deg);}
    35%, 50% { -webkit-transform: rotateX(-180deg);	
    transform: rotateX(-180deg);}
    60%, 75% { -webkit-transform: rotateX(-270deg);	
    transform: rotateX(-270deg);}
    85%, 100% { -webkit-transform: rotateX(-360deg); 
    transform: rotateX(-360deg);}
}

@-moz-keyframes rotation {
	from, to {  }
    10%, 25% { -moz-transform: translateY(0);
    transform: translateY(0);}
    35%, 50% { -moz-transform: translateY(-300px);
    transform: translateY(-300px);}
    60%, 75% { -moz-transform: translateY(-600px);
    transform: translateY(-600px);}
    85%, 100% { -moz-transform: translateY(-900px); 
    transform: translateY(-900px);}
}

/*Kubens övergripande inställning*/

.cube
{
	position:relative;
	float:left;
	width:150px;
	height:300px;
	
	/* 3D Transforms attribut */
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;;

	/* Animationattributer för kuben*/
	-webkit-animation-name: rotation;
    -webkit-animation-timing-function: ease;
    -webkit-animation-timing-function: cubic-bezier(0.6, -1, 0.4, 1.5);
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 15s;
	
	-moz-animation-name: rotation;
    -moz-animation-timing-function: ease;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 15s;
}

/* Tidinställning för när animationen ska starta */
#cube1

{
	z-index:1;
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
}


#cube2

{
	z-index:2;
	-webkit-animation-delay:1.2s;
	-moz-animation-delay:1.2s;
}


#cube3

{
	z-index:1;
	-webkit-animation-delay:1.4s;
	-moz-animation-delay:1.4s;
}

/*Inställning för kubens sidor*/

.cube div

{
	background-color:#000;
	background-size:450px 300px;
	position:  absolute;
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}


.fb

{
	width:150px;
	height:300px;
}


.tb

{
	width:150px;
	height:300px;
}


.lr

{
	width:300px;
	height:300px;
}

/* Attributer för varje sida på kuben */
.facefront

{
	background-image:url(../pics/blomma1.png);
	-webkit-transform: translateZ(150px);  
	-moz-transform: translateY0Y(0);  
	-ms-transform: translateZ(150px); 
	-o-transform: translateZ(150px); 
	transform: translateZ(150px);
}


.faceback

{
	background-image:url(../pics/fisk1.png);
	-webkit-transform: rotateY(180deg) rotateZ(180deg) translateZ(150px);
	-moz-transform: translateY(300px);
	-ms-transform: rotateY(180deg) rotateZ(180deg) translateZ(150px);
	-o-transform: rotateY(180deg) rotateZ(180deg) translateZ(150px);
	transform: rotateY(180deg) rotateZ(180deg) translateZ(150px);
}


.facetop

{
	background-image:url(../pics/hus1.png);
	-webkit-transform: rotateX(90deg) translateZ(150px);
	-moz-transform: translateY(600px);
	-ms-transform: rotateX(90deg) translateZ(150px);
	-o-transform: rotateX(90deg) translateZ(150px); 
	transform: rotateX(90deg) translateZ(150px);}


.facebottom

{
	background-image:url(../pics/goj1.png);
	-webkit-transform: rotateX(-90deg) translateZ(150px);
	-moz-transform:translateY(900px);
	-ms-transform: rotateX(-90deg) translateZ(150px);
	-o-transform: rotateX(-90deg) translateZ(150px); 
	transform: rotateX(-90deg) translateZ(150px);
}


.faceleft

{
	background-color:#000;
	-webkit-transform: rotateY(90deg) translateZ(0px);
	-moz-transform: scaleX(0);
	-ms-transform: rotateY(90deg) translateZ(0px);
	-o-transform: rotateY(90deg) translateZ(0px); 
	transform: rotateY(90deg) translateZ(0px);
}


.faceright

{
	background-color:#000;
	-webkit-transform: rotateY(-90deg) translateZ(150px); 
	-moz-transform: scaleX(0);
	-ms-transform: rotateY(-90deg) translateZ(150px);
	-o-transform: rotateY(-90deg) translateZ(150px); 
	transform: rotateY(-90deg) translateZ(150px);
}

#cube1 div

{
	background-position:0 0;
}


#cube2 div

{
	background-position:-150px 0;
}


#cube3 div

{
	background-position:-300px 0;
}







