/*<------------STRUKTUR------------>*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary 
{
    display: block;
}

header
{
    float: left;
    width: 100%;
}

main
{
    float: left;
    width: 100%;
    margin-top: 10%;
    position: relative;
}

body 
{
    font-family: "Raleway", "Arial", sans-serif;
}

nav
{
    float: left;
    display: block;
    width: 100%;
}

footer
{
    float: left;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center;
    background: #76819E;
    color: #FFF;
}    

#container
{
    width: 960px;
    margin: auto;
}

.breadcrumb 
{
    clear: left;
    padding: 10px 0;
    font-size: 10px;
    border-bottom: solid #676B6B 1px;
}

#maincolumn
{
    width: 290px;
    float: left;
    margin-top: -90px;
    padding-right: 50px;
    padding-left: 20px;
    background: yellow;
}

#sidecolumn
{
    width: 600px;
    float: left;
    padding-bottom: 50px;
}

/*<-------------HUVUDHUVUDMENY-------------->*/


#menu ul,
#menu li,
#menu span,
#menu a 
{
    margin: 0;
    padding: 0;
    position: relative;
}

#menu a 
{
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    min-width: 35px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 #eeeeee;
}

#menu ul 
{
    list-style: none;
}

#menu > ul > li 
{
    float: left;
}

#menu > ul > li a 
{
    -moz-box-shadow: inset 0 0 0 1px #76819E;
    -webkit-box-shadow: inset 0 0 0 1px #76819E;
    box-shadow: inset 0 0 0 1px #76819E;
    background: -moz-linear-gradient(center top, #76819E 5%, #A7B3CE 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #76819E), color-stop(1, #A7B3CE) );
    background: -webkit-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
    background: -o-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
    background: -ms-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
    background: linear-gradient(top, #76819E 5%, #A7B3CE 100%);
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    line-height: 34px;
    padding: 0 35px;
}

#menu a:hover 
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #263966), color-stop(1, #79bbff) );
	background: -webkit-linear-gradient(top, #263966 5%, #79bbff 100%);
	background:-moz-linear-gradient( center top, #263966 5%, #79bbff 100% );
	background: -o-linear-gradient(top, #263966 5%, #79bbff 100%);
	background: -ms-linear-gradient(top, #263966 5%, #79bbff 100%);
	background: linear-gradient(top, #263966 5%, #79bbff 100%);}

#menu li:first-child a 
{
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;}

#menu li:last-child a 
{
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

/*<-------------SUBMENY-------------->*/

/*<-------------SUBMENY-------------->*/

#menu .sub:hover ul 
{
    display: block;
}

#menu .sub ul 
{
    display: none;
    position: absolute;
    top: 36px;
    left: -1px;
    min-width: 100%;
    text-align: center;
    width: 100%;
}

#menu .sub ul li 
{
    text-align: center;
}

#menu .sub ul li a 
{
    border-top: 0 none;
    border-left: 1px solid #d2d2d2;
    display: block;
    font-size: 12px;
    line-height: 130%;
    padding: 9px 5px;
    text-align: center;
}

#menu .sub li:first-child a 
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#menu .sub li:last-child a 
{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#menu ul #current 
{
    background: #676B6B;
    color: #FFF;
}
.clear 
{
    clear: both;
}


/*<----------TYPOGRAFI----------->*/
/*<----------INSTÄLLNINGAR FÖR CSSKNAPPARAR----------->*/

a.button 
{
	-moz-box-shadow: inset 0 -5px 0 0 #76819E;
	-webkit-box-shadow: inset 0 -5px 0 0 #76819E;
	box-shadow:inset 0 -5px 0 0 #76819E;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #76819E), color-stop(1, #A7B3CE));
	background: -webkit-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
	background:-moz-linear-gradient( center top, #76819E 5%, #A7B3CE 100% );
	background: -o-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
	background: linear-gradient(top, #76819E 5%, #A7B3CE 100%);
	background-color:#76819E;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #76819E;
	display:inline-block;
	color:#FFFFFF;
	font-family:Comic Sans MS;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:120px;
	text-decoration:none;
	text-align:center;
	text-shadow:3px 3px 0 #606676;
}

a.button:hover, a.button:focus
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #263966), color-stop(1, #79bbff) );
	background: -webkit-linear-gradient(top, #263966 5%, #79bbff 100%);
	background:-moz-linear-gradient( center top, #263966 5%, #79bbff 100% );
	background: -o-linear-gradient(top, #263966 5%, #79bbff 100%);
	background: linear-gradient(top, #263966 5%, #79bbff 100%);
}

a.button:active 
{
	position:relative;
	top:55px;
}

/*<----------FORMULÄRINSTÄLLNINGAR----------->*/


input, textarea 
{   
    width: 400px;
    padding: 9px;  
    border: solid 1px #EEE;  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.03, #DDD), color-stop(1, #FFF)); 
    background: -webkit-linear-gradient(top, #DDD 30%, #FFF 100%);
    background: -moz-linear-gradient(top, #DDD 30%, #FFF 100%);
    background: -o-linear-gradient(top, #DDD 30%, #FFF 100%);
	background: linear-gradient(top, #DDD 30%, #FFF 100%);
	-moz-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;
    box-shadow: rgba(0,0,0, 0.3) 0 0 8px; 
}

  
textarea 
{   
    width: 400px;  
    max-width: 400px;  
    height: 150px;  
    line-height: 150%;  
}  
  
input:hover, 
textarea:hover,  
input:focus, 
textarea:focus 
{   
    border-color: #BBB; 
    -moz-box-shadow: rgba(0,0,0, 0.15) 0 0 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.15) 0 0 8px;
    box-shadow: rgba(0,0,0, 0.15) 0 0 8px; 
}  
  
.form label 
{   
    margin-left: 10px;   
    color: #676B6B;   
}  
  
button 
{  
    width: auto;  
    padding: 9px 15px;  
    border: 0;  
    font-size: 14px;  
    background: #76819E;
    color: #FFF; 
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
} 

