/*<------------STRUKTUR------------>*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary 
{
    display: block;
}

header
{
    float: left;
    width: 960px;
}

main
{
    float: left;
    width: 960px;
    margin-top: -20px;
    position: relative;
}

nav
{
    float: left;
    display: block;
    width: 960px;
    margin: -36px 0 30px 5px;
}

footer
{
    float: left;
    width: 960px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center;
    color: #FFF;
    background: #76819E;
}    

#container 
{
    width: 960px;
    margin: auto;
    -moz-box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    -webkit-box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
}

#mainheader
{
    height: 170px;
    background-image: url(../pics/logotype.png), -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A4B3DB), color-stop(1, #FFF));
    background-image: url(../pics/logotype.png), -webkit-linear-gradient(top, #A4B3DB 5%, #FFF 100%);
    background-image: url(../pics/logotype.png), -moz-linear-gradient( top, #A4B3DB 5%, #FFF 100% );
    background-image: url(../pics/logotype.png), -o-linear-gradient(top, #A4B3DB 5%, #FFF 100%);
    background-image: url(../pics/logotype.png), linear-gradient(top, #A4B3DB 5%, #FFF 100%);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10px;
}

#mainwrapper
{
    margin: 30px 150px 300px 150px;
}

#gallery
{
    margin: 30px 150px 300px 150px;
}

.breadcrumb 
{
    clear: left;
    padding: 10px 5px;
    font-size: 10px;
    border-bottom: 1px solid #AAA;
}

#maincolumn
{
    width: 290px;
    float: left;
    margin: 30px 70px 0 100px;
}

#sidecolumn
{
    width: 450px;
    float: left;
    margin: 70px 0 20px 0;
}

#on_screen
{
    margin: 30px 150px 0 150px;
}

#on_media
{
    display: none;
}

/*<-------------HUVUDHUVUDMENY-------------->*/

#menu ul,
#menu li,
#menu a 
{
    margin:0;
    padding: 0;
    position: relative;
}

#menu a 
{
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    min-width: 35px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 #eeeeee;
}

#menu ul 
{
    list-style: none;
}

#menu > ul > li 
{
    float: left;
}

#menu > ul > li a 
{
    -moz-box-shadow: inset 0 0 0 1px #76819E;
    -webkit-box-shadow: inset 0 0 0 1px #76819E;
    box-shadow: inset 0 0 0 1px #76819E;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #76819E), color-stop(1, #A7B3CE) );
    background: -webkit-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
    background: -moz-linear-gradient(center top, #76819E 5%, #A7B3CE 100%);
    background: -o-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
    background: -ms-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
    background: linear-gradient(top, #76819E 5%, #A7B3CE 100%);
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    line-height: 34px;
    padding: 0 35px;
}

#menu a:hover 
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #263966), color-stop(1, #79bbff) );
	background: -webkit-linear-gradient(top, #263966 5%, #79bbff 100%);
	background:-moz-linear-gradient( center top, #263966 5%, #79bbff 100% );
	background: -o-linear-gradient(top, #263966 5%, #79bbff 100%);
	background: -ms-linear-gradient(top, #263966 5%, #79bbff 100%);
	background: linear-gradient(top, #263966 5%, #79bbff 100%);}

#menu li:first-child a 
{
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;}

#menu li:last-child a 
{
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

/*<-------------SUBMENY-------------->*/

#menu .sub:hover ul 
{
    display: block;
    z-index: 599; 
}

#menu .sub ul 
{
    display: none;
    position: absolute;
    top: 36px;
    left: -1px;
    text-align: center;
    width: 100%;
}

#menu .sub ul li a 
{
    border-top: 0 none;
    border-left: 1px solid #d2d2d2;
    display: block;
    font-size: 12px;
    line-height: 130%;
    padding: 9px 5px;
    text-align: center;
}

#menu .sub li:first-child a 
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#menu .sub li:last-child a 
{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#menu ul #current 
{
    background: #676B6B;
    color: #FFF;
}
.clear 
{
    clear: both;
}

/*<----------TYPOGRAFI----------->*/
body
{
    font-family: "ABeeZee", "Arial", sans-serif;
}

h1
{
    font-size: 20px;
}

h2
{
    font-size: 20px;
}

p
{
    font-size: 13px;
}

/*<----------INSTÄLLNINGAR FÖR CSSKNAPPARAR----------->*/

a.button 
{
	-moz-box-shadow: inset 0 -5px 0 0 #76819E;
	-webkit-box-shadow: inset 0 -5px 0 0 #76819E;
	box-shadow:inset 0 -5px 0 0 #76819E;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #76819E), color-stop(1, #A7B3CE));
	background: -webkit-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
	background:-moz-linear-gradient( top, #76819E 5%, #A7B3CE 100% );
	background: -o-linear-gradient(top, #76819E 5%, #A7B3CE 100%);
	background: linear-gradient(top, #76819E 5%, #A7B3CE 100%);
	background-color:#76819E;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #76819E;
	display:inline-block;
	margin-top: 20px;
	color:#FFFFFF;
	font-family: "ABeeZee", "Arial", sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	height: 50px;
	line-height: 50px;
	width: 120px;
	text-decoration: none;
	text-align: center;
	text-shadow: 2px 2px 0 #606676;
}

a.button:hover, a.button:focus
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #263966), color-stop(1, #79bbff) );
	background: -webkit-linear-gradient(top, #263966 5%, #79bbff 100%);
	background:-moz-linear-gradient( center top, #263966 5%, #79bbff 100% );
	background: -o-linear-gradient(top, #263966 5%, #79bbff 100%);
	background: linear-gradient(top, #263966 5%, #79bbff 100%);
}

a.button:active 
{
	position:relative;
	top:5px;
}

/*<----------FORMULÄRINSTÄLLNINGAR----------->*/


input, textarea 
{   
    width: 300px;
    padding: 2px;  
    border: solid 1px #EEE;  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.03, #DDD), color-stop(1, #FFF)); 
    background: -webkit-linear-gradient(top, #DDD 30%, #FFF 100%);
    background: -moz-linear-gradient(top, #DDD 30%, #FFF 100%);
    background: -o-linear-gradient(top, #DDD 30%, #FFF 100%);
	background: linear-gradient(top, #DDD 30%, #FFF 100%);
	-moz-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;
    box-shadow: rgba(0,0,0, 0.3) 0 0 8px; 
}

textarea 
{   
    width: 300px;  
    max-width: 300px;  
    height: 100px;  
}  
  
input:hover, textarea:hover,  
input:focus, textarea:focus 
{   
    border-color: #BBB; 
    -moz-box-shadow: rgba(0,0,0, 0.15) 0 0 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.15) 0 0 8px;
    box-shadow: rgba(0,0,0, 0.15) 0 0 8px; 
}  
  
.form label 
{   
    margin-left: 10px;   
    color: #676B6B;   
}  

::-webkit-input-placeholder 
{
   font-family: "ABeeZee", "Arial", sans-serif;
   color: #888;
}

::-moz-placeholder 
{ 
   font-family: "ABeeZee", "Arial", sans-serif;
   color: #888; 
}

:-moz-placeholder 
{ 
   font-family: "ABeeZee", "Arial", sans-serif;
   color: #888; 
}

:-ms-input-placeholder 
{  
   font-family: "ABeeZee", "Arial", sans-serif;
   color: #888;  
}
  
button 
{  
    width: auto;  
    padding: 7px 13px;  
    border: 0;  
    font-size: 10px;  
    background: #76819E;
    color: #FFF; 
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
} 

/*<-------------BILDINSTÄLLNINGAR FÖR SLIDESHOW-------------->*/

#slider
{
    width: 600px;
    float: left;
    margin: 40px 0 50px 170px;
    overflow: hidden;
    background: #000;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

#slider figure
{
    position: relative; 
    width: 500%;
    margin: 0  0 -10px 0; 
    padding: 0; 
    font-size: 0;
    left: 0;
    animation-name: slidy;
    -webkit-animation: 20s slidy infinite;
    -moz-animation: 20s slidy infinite;
    animation: 20s slidy infinite;
}

figure img
{
    width: 20%;
    height: auto;
}

@keyframes slidy { 

20% { left: 0; }

25% { left: -100%; }

45% { left: -100%; }

50% { left: -200%; }

70% { left: -200%; } 

75% { left: -300%; }

95% { left: -300%; }

100% { left: -400%; } 
}

@-webkit-keyframes slidy {
    
20% { left: 0; }

25% { left: -100%; }

45% { left: -100%; }

50% { left: -200%; }

70% { left: -200%; } 

75% { left: -300%; }

95% { left: -300%; }

100% { left: -400%; } 
}

.progress-bar
{
    position: relative;
    top: -5px;
    width: 600px; 
    height: 5px;
    background: #4C4C4C;
    animation-name: fullexpand;
    -moz-animation:fullexpand 25s ease-out infinite;
	-webkit-animation:fullexpand 25s ease-out infinite;
	animation: fullexpand 25s ease-out infinite;
}

@keyframes fullexpand {
   /* Utgångspunkten för progress-bar */
   0%, 20%, 40%, 60%, 80%, 100% { width: 0; opacity: 0; }

   /* Här börjar progress-bar att komma igång */
   4%, 24%, 44%, 64%, 84% { width: 0; opacity: 0.3; }

   /* Här rör sig progress-bar framåt i 3 sekunder */
   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }

   /* Slutpunkten för progress-bar */
   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }

   /* Här försvinner progress-bar för att sedan återupprepa processen */
   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}

@-webkit-keyframes fullexpand {
   /* Utgångspunkten för progress-bar */
   0%, 20%, 40%, 60%, 80%, 100% { width: 0; opacity: 0; }

   /* Här börjar progress-bar att komma igång */
   4%, 24%, 44%, 64%, 84% { width: 0; opacity: 0.3; }

   /* Här rör sig progress-bar framåt i 3 sekunder */
   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }

   /* Slutpunkten för progress-bar */
   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }

   /* Här försvinner progress-bar för att sedan återupprepa processen */
   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}

#slider:hover figure, 
#slider:hover .progress-bar
{
   animation-play-state:paused;
   -webkit-animation-play-state:paused;
   -moz-animation-play-state:paused;
}